<?xml version="1.0"?>
<RDF:RDF xmlns:RDF="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:em="http://www.mozilla.org/2004/em-rdf#">

  <RDF:Description about="urn:mozilla:extension:clickchronicle@clickchronicle.com">
    <em:updates>
      <RDF:Seq>
        <!-- firefox -->
        <RDF:li>
          <RDF:Description>
            <em:version>%(version)s</em:version>
            <em:targetApplication>
              <RDF:Description>
                <em:id>{ec8030f7-c20a-464f-9b0e-13a3a9e97384}</em:id>
                <em:minVersion>1.0</em:minVersion>
                <em:maxVersion>1.6</em:maxVersion>
                <em:updateLink>http://www.clickchronicle.com/static/clickchronicle.xpi</em:updateLink>
              </RDF:Description>
            </em:targetApplication>
          </RDF:Description>
        </RDF:li>
        <!-- flock -->
        <RDF:li>
          <RDF:Description>
            <em:version>%(version)s</em:version>
            <em:targetApplication>
              <RDF:Description>
                <em:id>{a463f10c-3994-11da-9945-000d60ca027b}</em:id>
                <em:minVersion>0.2</em:minVersion>
                <em:maxVersion>6.02</em:maxVersion>
                <em:updateLink>http://www.clickchronicle.com/static/clickchronicle.xpi</em:updateLink>
              </RDF:Description>
            </em:targetApplication>
          </RDF:Description>
        </RDF:li>
      </RDF:Seq>
    </em:updates>
  </RDF:Description>

</RDF:RDF>
