body { 
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.hidden { display: none; }

form { margin-bottom: 4px; }
#filterDialog { display: none }
#filterDialog > form { margin-top: 4px; }

input.submit {
	border: 3px double #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 75%;
	font-weight: bold;
	margin-top: 4px;
}

input.text {
	border: 1px solid #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-right: 2px;
	padding: 0.25em;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 75%;
	font-weight: bold;
}


.firstInput { margin-right: 2px; }

a:link    { color: #7c7777; text-decoration: none }
a:visited { color: #7c7777; text-decoration: none }
a:hover   { color: #575757; text-decoration: none }
a:active  { color: #FFFFFF; text-decoration: underline }

.navRow       { background: #C0C0C0 }

img.navIcon { 
	border: none; 
	vertical-align: middle; 
	display: none; 
}

.dialog { 
	  color: #9B9B9B;
	  font-size: 3em;
	  font-weight: bold;
	  text-align: center;
	  width: 100%;
}

ul { list-style: none }
/*
.tab { 
	border: solid 1px #B0B0B0;
	padding: 6px 6px 6px 6px;
	background-color: #FFFFFF;
	background-image: url(/static/images/header_bg.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	font-weight: bold;
	color: #9B9B9B;
	letter-spacing: 1.5px;
	margin-right: 6px;
}
*/
#tableContainer { width: 100%; }

.clickTable { 
	width: 100%;
	margin-top: 10px; 
	margin-left: 15px; 
	padding: 0; 
	border: solid 1px #B0B0B0;
	border-bottom: none;
}

tr.clickRowFirst { 
	background-color: #FFFFFF;
	background-image: url(/static/images/header_bg.png);
	background-repeat: repeat-x;
	background-position: bottom left 
}

tr.clickRowAlt { background: #DADADA }

tr.clickRowFirst > td { 
	border-bottom: solid 1px #B0B0B0;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
	color: #9B9B9B;
	letter-spacing: 1.5px ;
}

td.clickCol { 
	padding: 4px 4px 4px 4px; 
	border-right: solid 1px #B0B0B0;
      	border-bottom: solid 1px #B0B0B0 
}

td.sClickCol { 
	padding: 4px 4px 4px 4px; 
	border-right:  solid 1px #B0B0B0;
      	border-bottom: solid 1px #B0B0B0;
}

td.sClickCol:hover { 
	background-image: url(/static/images/header_bg_hover.png);
}

td.lastClickCol  { padding: 4px 4px 4px 4px; border-bottom: solid 1px #B0B0B0 }
td.sLastClickCol { padding: 4px 4px 4px 4px; border-bottom: solid 1px #B0B0B0 }

td.sLastClickCol:hover {
	background-image: url(/static/images/header_bg_hover.png);
}

.linkIcon { border: 0; vertical-align: middle; }
